/* Start Global */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background-color: rgba(173, 181, 189, 0.25) !important;
}

.container {
    width: 1200px;
    margin: auto;
    min-width: 1200px
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

h2, h3, h4 {
    font-weight: normal
}

.navbar, 
.header
.footer {min-width: 1200px}

/* End Global */

/* Start Navbar */

.navbar {
    
    font-size: 18px;
    height: 0;
    color: #fff;
    position: relative;
    z-index: 2;
}
.navbar:hover{
    color: #dfe62d;
   
}
.navbar .container {
    background-color: rgba(51, 51, 51, 0.3);
    display : flex ;
    position: relative;
}

.navbar .brand {
    float: left;
    
    width: 30%;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 50px;
}

.navbar .links {
    float: left;
    width: 50%;
    margin-top: 25px
}

.navbar .links li {
    display: inline-block;
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 2px solid transparent
}

.navbar .links li a {
    color: #FFF;
    text-decoration: none
}

.navbar .links li.active a,
.navbar .links li a:hover {
    color: #dfe62d;
}

.navbar .links li.active,
.navbar .links li:hover {
    border-bottom: 2px solid #dfe62d;
}

/* End Navbar */

/* start about body */
.contain {
    margin-top: 150px;
}
.contain .block {
    text-align: center;
    padding-top: 80px;
    color: rgb(243, 242, 239);
}
.page-wrapper {
    padding: 70px 0;
    display: flex;
    
}
.containe {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 130px;
}



span {
    color: #dfe62d;
}
.overly:before, .page-title:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 50%;
    /* background: rgba(243, 243, 243, 0.8); */
    background-image: url('../img/dynamic1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 10px 18px rgb(58, 55, 55);
    opacity: 0.8;
    margin-top: 130PX;
    margin-left: 100px;
}
.section {
    padding: 100px 0;
    margin-top: 40px;
    
}
.container {
    
    width: 1200px;
    margin: auto;
    min-width: 1200px;
}

.bg-dark {
    background-color: black !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    margin-right: 50px !important;
}


.title {
    text-align: center;
    margin-bottom: 40px;
}
/* start sidebar */

.widget {
    margin-bottom: 30px;
    
    
  }
  
  .widget .widget-title {
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    border-bottom: 1px solid #dedede;
    
  }
  
  .widget.widget-latest-post .media {
    margin-bottom: 10px;
  }
  
  .widget.widget-latest-post .media .media-object {
    width: 90px;
    height: 100px;
    margin-right: 15px;
  }
  
  .widget.widget-latest-post .media .media-heading {
    margin-bottom: 0;
  }
  
  .widget.widget-latest-post .media .media-heading a {
    color: #000;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .widget.widget-latest-post .media .media-heading a:hover {
    color: #655E7A;
  }
  
  .widget.widget-latest-post .media p {
    font-size: 12px;
    color: #808080;
  }
  
  .widget.widget-tag ul li {
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 5px;
  }
  
  .widget.widget-tag ul li a {
    color: #837f7e;
    display: inline-block;
    padding: 8px 15px;
    border: 1px solid #dedede;
    border-radius: 30px;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  
  .widget.widget-tag ul li a:hover {
    color: #fff;
    background: #655E7A;
    border: 1px solid #655E7A;
    text-decoration: none;
  }
  /*start media side */
  .sidebar {
    position: sticky;
  }
  .post {
    background: #fff;
    margin-bottom: 40px;
    padding-bottom: 20px;
    width: 95%;
    
  }
  .post .post-title,.post-meta {
    text-align: center;
  }
  
  .post.post-single .post-thumb {
    margin-top: 30px;
    
  }
  .post .post-media.post-thumb img {
    width: 100%;
    height:  400PX;
  }
  
  .post .post-media {
    width: 100%;
  }
  
  .post .post-title {
    margin-top: 10px;
    margin: 25px 0 0;
    text-transform: capitalize;
    font-size: 26px;
    margin-bottom: 20px;
  }
  
  .post .post-title a {
    color: #655E7A;
  }
  
  .post .post-title a:hover {
    color: #655E7A;
  }
  
  .post .post-meta {
    font-size: 13px;
    margin-top: 10px;
    text-transform: uppercase;
  }
  
  .post .post-meta ul li {
    display: inline-block;
    color: #909090;
    margin-right: 20px;
    font-size: 12px;
    letter-spacing: .5px;
  }
  
  .post .post-meta ul li a {
    color: #909090;
  }
  
  .post .post-meta ul li a:hover {
    color: #655E7A;
  }
  
  .post .post-meta .post-author {
    color: #000;
  }
  
  .post .post-content {
    margin-top: 20px;
  }
  
  .post .post-content p {
    line-height: 26px;
    color:#24445a;
  }
  
  .post .post-content .btn-main, .post .post-content .btn-transparent, .post .post-content .btn-small {
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 12px;
  }
  
  /* end media side */
  
/* end sidebar */

/* end about body */

/* Start My Framework */

*, ::after, ::before {
    box-sizing: border-box;
}

.clearfix {
    clear: both
}

.special-heading {
    position: relative
}

.special-heading:after {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 40px;
    border-bottom: 2px solid #333;
}

.separator {
    border: 1px solid #EEE
}

.btn {
    background-color:#dfe62d !important ;
    border-radius: 5px;
    color: #24445a;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    
}
.btn:hover{
    transform: scaleX(1.2);
    color: white !important;
    transition: transform 330ms ease-in-out;
    
}
.footer {
        margin-top: 40px;
        background: #dfe62d;
        text-align: center;
        color: dimgrey;
        height: 200PX;
        z-index: 0;
    
}
.footer:hover .copyright {
    color: #24445a;
}
.col {
    padding-top: 60PX ;
}
.footer .footer-manu ul {
    display: inline-flex;
    margin-bottom: 10px;
    
}
.footer-manu ul li {
    margin-right: 10px;
}
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    height: 40px;
    width: 40px;
    background: #655E7A;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    display: none;
  }
/* End My Framework */